section-header h3 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  position: relative;
}

.section-header{
  margin-top: 100px;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%;
}

.project_container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 8%;
}
.project_gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
  grid-gap:30px;
}

.project_gallery img{
  width: 100%;
  height: 260px;
}
.project_home_opt{
  padding: 5px;
  border: 1px solid #23b7a4;
  border-color: #23b7a4;
  color: #23b7a4;
  border-radius: 5px;
}

.project_home_opt:hover {
  padding: 5px;
  border: 1px solid #23b7a4;
  border-color: #23b7a4;
  color: #23b7a4;
  border-radius: 5px;
}